{# public/views/pages/index.html.twig #}
{% form_theme form 'forms/fields.html.twig' %}

{% extends "app.html.twig" %}

{% block content %}
    <div class="d-flex flex-column align-items-center" style="min-height:60vh;">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="mb-3 p-2 card card-inverse w-75" style="background-color: #333; border-color: #333;">
                {% include('forms/post.html.twig') %}
            </div>
            {% for post in user.posts|reverse %}
                <div class="mb-3 p-2 card card-inverse w-75" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title">{{ app.user.username }} said...</h3>
                        <p class="card-text">{{ post.body }}</p>
                    </div>
                    <div class="card-footer">
                        {{ post.created_at.format('M d, H:i A') }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}