<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded" style="margin-bottom:2vh;">
    <div class="container">
        <a class="navbar-brand" href="#">Spatter... Twitter, but Worse!</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

            <form class="form-inline my-2 my-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="navbar-brand" href="#">{{ app.user.username }}</a>
                    <a class="btn btn-primary" href="{{ path('users_logout') }}" role="button">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="/auth/login" role="button">Login</a>
                    <a class="btn btn-primary" href="/auth/register" role="button">Register</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>

